* {
	box-sizing: border-box;
	outline: none;
	-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

@font-face {
	font-family: AireRomanPro;
	src: url("/fonts/Aire_Roman_Pro.otf");
}

@font-face {
	font-family: AireRomanStd;
	src: url("/fonts/Aire_Roman_Std.otf");
}

html, body {
	min-height: 100vh;
	overflow-x: hidden;
}

html, body, ul, ol, p {
	margin: 0;
	padding: 0;
}

:root {
	--color-black:                 #1C1C1B;
	--color-grey:                  #3C3C3B;
	--color-red:                   #E20613;

	--section-margin-top:          64px;
	--section-padding-bottom:      64px;
	
	--section-border-bottom:       solid 1px #E8E9E9;
	--section-title-margin-bottom: 24px;

	--pagination-margin-top:       32px;

	--input-color-hover: #F4D3D8;
} 

body {
	display: flex;
	flex-direction: column;

	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: var(--color-black);
	-webkit-tap-highlight-color: transparent; /* for removing the highlight */
}

body > section {
	position: relative;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

input, button {
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 14px;
}

button {
	padding: 0;
	background-color: inherit;
	border: none;
}

a:hover, button:hover {
	cursor: pointer;
}