header {
	padding-top: 32px;
	overflow: hidden;
}

.header__content {
	position: relative;
	width: 100%;
	height: 640px;
	border-top-right-radius: 12px;
	border-bottom-right-radius: 12px;

	background-image: url("/imgs/banner.jpg");
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

.header__background-gradient {
	position: absolute;
	left: -5px;
	width:  110%;
	height: calc(100% + 2px);
	left: -1px;
	top:  -1px;
	transform: rotate(180deg);
	
	background: linear-gradient(90deg, rgba(255, 255, 255, 0) 42.19%, #FFFFFF 92.65%);
}

.header__logo {
	position: absolute;
	top: -128px;
	left: -96px;
	width: 500px;
}

.header__text {
	position: absolute;
	left: 0;
	bottom: 0;

	padding-top: 56px;
	padding-bottom: 32px;

	padding-left: 32px;
	padding-right: 32px;

	border-top: solid 1px var(--color-black);
}

.header__text span:nth-child(1) {
	position: relative;
	z-index: 0;
	display: block;
	
	font-family: AireRomanStd;
	font-size: 130px;
	line-height: 122px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	color: var(--color-red);
}

.header__text span:nth-child(1)::before {
	position: absolute;
	bottom: 8px;
    left: -10px;
    z-index: -1;
    content: '“';
	
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 144px;
	line-height: 174px;
	text-transform: uppercase;
	color: #DDDDDD;
}

.header__text span:nth-child(2) {
	position: relative;
	z-index: 0;
	margin-bottom: 24px;
	display: block;

	font-family: AireRomanStd;
	font-size: 45px;
	line-height: 52px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.header__text span:nth-child(2)::after {
	position: absolute;
	top: 32px;
	right: 86px;
	z-index: -1;

	content: '”';
	font-family: Cormorant, serif;
	font-weight: bold;
	font-size: 144px;
	line-height: 174px;
	text-transform: uppercase;
	color: #DDDDDD;
	z-index: -1;
}

.header__text div {
	position: relative;
	bottom: 4px;
	left: -32px;
	
	display: inline-block;
	width: 200px;
	height: 1px;
	background-color: var(--color-black);
}

.header__link {
	font-size: 18px;
	font-weight: 400;
}

@media screen and (max-width: 1500px)
{
	.header__content {
		height: calc(100vh - 72px - 32px * 2);
	}
}

@media screen and (max-width: 1024px)
{
	.header__content {
		border-radius: 12px;
	}

	.header__text {
		margin-left: 16px;

		padding-top: 32px;
		padding-bottom: 32px;

		padding-left: 16px;
		padding-right: 16px;
	}

	.header__text span:nth-child(1) {
		font-size: 100px;
		line-height: 100px;
	}

	.header__text span:nth-child(1)::before {
		bottom: 8px;
	    left: -10px;
		font-size: 144px;
		line-height: 135px;
	}

	.header__text span:nth-child(2) {
		margin-bottom: 16px;
		font-size: 36px;
		line-height: 44px;
	}	

	.header__text span:nth-child(2)::after {
		top: 32px;
		right: 86px;
		line-height: 150px;
	}

	.header__text div {
		left: -16px;
	}
}

@media screen and (max-width: 768px)
{
	.header__content {
		margin-bottom: 208px;
		height: 320px;
	}

	.header__logo {
		top: -72px;
	    left: -72px;
		width: 260px;
	}

	.header__text {
		bottom: -76%;
		margin-left: 0;
		width: 100%;
		padding-left: 16px;
		padding-right: 0;
	}

	.header__text span:nth-child(1) {
		font-size: 60px;
		line-height: 60px;
	}

	.header__text span:nth-child(1)::before {
	    line-height: 70px;
	    font-size: 80px;
	}

	.header__text span:nth-child(2) {
		margin-bottom: 16px;
		font-size: 26px;
		line-height: 32px;
	}	

	.header__text span:nth-child(2)::after {
		right: 36px;
		font-size: 80px;
		line-height: 88px;
	}

	.header__text div {
		position: absolute;
		bottom: calc(32px + 6px);
		left: 0;
		width: 100%;
	}

	.header__link {
		position: relative;
		float: right;
		padding-left: 16px;
		background-color: white;

		font-size: 12px;
	}

	.header__background-gradient {
	    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 70%, #FFFFFF 100%);
	}
}

.about {
	margin-top: var(--section-margin-top);
	overflow: hidden;
	border-bottom: solid 1px #E8E9E9;
}

.about__container {
	display: flex;
}

.about__image-container {
	position: relative;
    bottom: -6px;
	margin-top: -170px;

	width: 540px;
	overflow: hidden;
}

.about__image-container > img {
	width: 100%;
}

.about__name {
	margin-top: 32px;
	display: block;

	font-family: AireRomanStd, sans-serif;
	font-size: 42px;
	letter-spacing: 0.04em;
}

.about__content {
	max-width: 580px;
	padding-top: 32px;
	padding-left: 16px;
}

.about__content > p:first-of-type {
	margin-top: 8px;

	font-size: 18px;
	line-height: 27px;
	letter-spacing: 0.02em;
}

.about__content > p:last-of-type {
	margin-top: 20px;	
	margin-bottom: 32px;
	font-weight: 400;
}

@media screen and (max-width: 1200px)
{
	.about__content {
		max-width: 400px;
	} 
}

@media screen and (max-width: 768px) 
{
	.about__container {
		flex-direction: column-reverse;
	}

	.about__name {
		margin-top: 16px;
		font-size: 28px;
	}

	.about__image-container {
		margin-top: 0;
		width: 100%;
	}

	.about__content {
		padding: 0;
	}

	.about__content > p:first-of-type {
		margin-top: 8px;
		font-size: 14px;
		line-height: 22px;
	}

	.about__content > p:last-of-type {
		margin-bottom: 24px;
	}
}

.announcements {
	margin-top: var(--section-margin-top);
}

.announcements .swiper-container {
	margin-top: var(--section-title-margin-bottom);
}

.announcements .swiper-slide {
	width: 380px;
	height: auto;
	display: flex;
	flex-direction: column;
}

.announcements .swiper-slide:first-child {
	margin-left: calc((100% - 1500px) / 2 + 24px);
}

.announcements .swiper-slide:last-child {
	margin-right: 24px;
}

.announcements .image-container {
	border-radius: 8px;
}

.announcements__category, .announcements__title, .announcements__date {
	display: block;
}

.announcements__category {
	margin-top: 16px;
	color: var(--color-red);
}

.announcements__title {
	margin-top: 8px;
	font-size: 18px;
	line-height: 26px;
}

.announcements__date {
	margin-top: 8px;
	margin-top: auto;
	padding-top: 8px;

	font-size: 12px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--color-grey);
}

.announcements__buttons {
	margin-top: var(--pagination-margin-top);
	display: flex;
	justify-content: flex-end;
}

.announcements__button {
	position: relative;
	width: 47px;
	height: 13px;
	transition: transform 150ms linear;
}

.announcements__button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
	background-image: url("/imgs/link-arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.announcements__button--prev {
	margin-right: 16px;
}

.announcements__button--prev::before {
    transform: rotate(180deg);
} 

.announcements__button--next {
	margin-left: 8px;
}

.announcements__button:hover {
	cursor: pointer;
	transform: scale(1.2);
}

@media screen and (max-width: 1500px) 
{
	.announcements .swiper-slide:first-child {
		margin-left: calc((100% - 1024px) / 2 + 24px);
	}
} 

@media screen and (max-width: 1024px) 
{
	.announcements .swiper-slide:first-child {
		margin-left: calc((100% - 768px) / 2 + 24px);
	}
}

@media screen and (max-width: 768px) 
{
	.announcements {
		margin-top: 40px;
	}

	.announcements .swiper-slide {
		width: 280px;
	}

	.announcements .swiper-slide:first-child {
		margin-left: 24px;
	}

	.announcements .swiper-wrapper {
		padding-left: 24px;
	}

	.announcements__category {
		margin-top: 12px;
		font-size: 12px;
	}

	.announcements__title {
		font-size: 14px;
		line-height: 20px;
	}

	.announcements__date {
		margin-top: 4px;
		font-size: 10px;
	}
} 

.books {
	margin-top: var(--section-margin-top);
}

.books .swiper-slide {
	padding-left: 100px;
}

.books .swiper-wrapper {
	padding-bottom: var(--pagination-margin-top);	
}

.book {
	margin: auto;
	width: 800px;
	height: 400px;
	display: flex;

	border: 0.5px solid #E8E9E9;
	box-shadow: 2px 10px 34px rgba(8, 24, 81, 0.05);
	border-radius: 32px;
}

.book__content {
	padding-top: 52px;
	padding-left: 52px;
}

.book__content p {
	margin-top: 24px;
	padding-right: 24px;
	font-weight: 400;
}

.book h2 {
	text-transform: inherit;
}

.book__author {
	margin-top: 16px;
	display: block;
	font-size: 18px;
	letter-spacing: 0.02em;
	color: var(--color-grey);
}

.book__price {
	margin-top: 8px;
	display: block;
	font-weight: 500;
	font-size: 18px;
}

.book__image-container {
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	flex-basis: 100px;
	flex-grow: 0;
	flex-shrink: 0;
	height: 300px;
}

.book__image-container img {
	position: absolute;
	top: 0;
	left: -100%;

	width: 200%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;

	/*filter: drop-shadow(0px 15px 40px rgba(8, 24, 81, 0.1));*/
}

.book__menu {
	position: relative;

	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	flex-basis: 140px;
    flex-grow: 0;
    flex-shrink: 0;
}

.book__menu::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;

	width: 0.5px;
	height: 100%;
	background-color: #CDCDCD;

}

.book__menu-item {
	display: flex;
	align-items: center;
	flex-direction: column;
}

.book__menu-item img {
	display: block;
	width: 32px;
	height: 32px;
	object-fit: contain;	
}

.book__menu-item span {
	margin-top: 8px;
	display: block;

	font-size: 14px;
	color: #777776;

	transition: color 150ms linear;
}

.book__menu-item:hover span {
	color: var(--color-black);
}

@media screen and (max-width: 1024px)
{
	.book {
		width: calc(100% - 52px * 2);
	}
} 

@media screen and (max-width: 768px)
{
	.books {
		margin-top: 40px;
	}

	.books .swiper-wrapper {
		padding-top: 56px;
	}

	.books .swiper-slide {
		padding-left: 0;
	}

	.book {
		flex-direction: column;

		width: calc(100% - 24px * 2);
		height: auto;
		border-radius: 16px;
	}

	.book__image-container {
		top: 0;
		transform: none;
	
		height: 244px;
		text-align: center;
	}

	.book__image-container img {
		position: relative;
		left: auto;
		top: -56px;

		width: 200px;
		height: 300px;
	}

	.book__content {
		padding: 24px;
	}

	.book__content p {
		margin-top: 8px;
		padding-right: 0;
	}

	.book__author {
		margin-top: 8px;
		font-size: 14px;
	}

	.book__price {
		font-size: 14px;
	}

	.book__menu {
		flex-direction: row;
		border-left: 0;
		flex-basis: auto;
		padding: 16px 0;
	}

	.book__menu::before {
		left: 0;
		top: 0;

		height: 0.5px;
		width: 100%;
	}

	.book__menu-item {
		flex: 1 1 0px;
	}

	.book__menu-item img {
		width: 24px;
		height: 24px;
	}

	.book__menu-item span {
		font-size: 10px;
	}
} 

.projects {
	margin-top: var(--section-margin-top);
	
	padding-bottom: var(--section-padding-bottom);
	border-bottom: var(--section-border-bottom);
}

.projects .swiper-container {
	margin-top: var(--section-title-margin-bottom);
	padding-left: 230px;
}

.project {
	width: 460px;
}

.project__background {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;

	background-color: rgba(0, 0, 0, 0);
	transition: background-color 250ms linear;
}

.project .image-container {
	border-radius: 8px;
}

.project__panel {
	position: absolute;
	z-index: 2;
	left: calc(50% - (100% - 24px * 2) / 2);
	bottom: 0;

	transform: translateY(100%);
	transition: transform 250ms linear;

	width: calc(100% - 24px * 2);
	padding-top: 32px;
	padding-bottom: 16px;
	padding-left: 16px;
	padding-right: 16px;

	text-align: center;
	border-radius: 8px;
	background-color: white;	
}

.project:hover .project__panel {
	transform: translateY(8px);
}

.project:hover .project__background {
	background-color: rgba(0, 0, 0, 0.3);
}

.project__title {
	font-size: 18px;
	text-transform: uppercase;
}

.project__desc {
	margin-top: 8px;
	font-size: 14px;
	line-height: 20px;
}

.projects__buttons {
	margin-top: var(--pagination-margin-top);
	display: flex;
	justify-content: flex-end;
}

.projects__button {
	position: relative;
	width: 47px;
	height: 13px;
	transition: transform 150ms linear;
}

.projects__button::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
	background-image: url("/imgs/link-arrow.svg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}

.projects__button--prev {
	margin-right: 16px;
}

.projects__button--prev::before {
    transform: rotate(180deg);
} 

.projects__button--next {
	margin-left: 8px;
}

.projects__button:hover {
	cursor: pointer;
	transform: scale(1.2);
}

@media screen and (max-width: 768px)
{
	.project {
		position: relative;
		width: calc(100% - 24px);
		height: auto;	
	}

	.projects .swiper-container {
		padding-left: 24px;
	}

	.project__panel {
		padding-top: 16px;
		padding-bottom: 8px;
	}

	.project__title {
		font-size: 14px;
	}

	.project__desc {
		font-size: 12px;
	}
}

.blog {
	margin-top: var(--section-margin-top);
	
	padding-bottom: var(--section-padding-bottom);
	border-bottom: var(--section-border-bottom);
}

.blog__content {
	margin-top: var(--section-title-margin-bottom);
	display: flex;
	justify-content: space-between;
	margin-right: -32px;
}

.blog-item {
	width: 320px;
	padding: 24px;
	border-radius: 12px;
	transition: all 150ms linear;

	box-shadow: 0px 5px 15px rgba(8, 24, 81, 0.15);
}

.blog-item:hover {
	transform: translateY(-8px);
	box-shadow: 0px 10px 30px rgba(8, 24, 81, 0.15);
}

.blog-item:hover .blog-item__link {
	opacity: 1;
}

.blog-item {
	margin-right: 32px;
}

.blog-item .image-container {
	border-radius: 4px;
}

.blog-item__title {
	margin-top: 24px;
	display: block;
	font-size: 18px;
}

.blog-item__info {
	margin-top: 16px;
}

.blog-item__link {
	margin-top: 12px;
	float: right;

	font-size: 11px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--color-red);

	opacity: 0;
	transition: opacity 150ms linear;
}

.blog-item__link::after {
	position: relative;
    bottom: 3px;
    margin-left: 8px;

	content: '';
	display: inline-block;
	width: 45px;
	height: 1px;
	background-color: var(--color-red);
}

@media screen and (max-width: 1500px)
{
	.blog-item:nth-child(4) {
		display: none;
	}
}

@media screen and (max-width: 1024px)
{
	.blog-item:nth-child(3) {
		display: none;
	}
}

@media screen and (max-width: 768px)
{
	.blog-item {
		width: 100%;
	}

	.blog-item:nth-child(2) {
		display: none;
	}

	.blog-item__title {
		font-size: 14px;
	}

	.blog-item__info {
		font-size: 12px;
		line-height: 20px;
	}
}

.products {
	margin-top: var(--section-margin-top);
	
	padding-bottom: var(--section-padding-bottom);
	border-bottom: var(--section-border-bottom);
}

.products__content {
	margin-top: var(--section-title-margin-bottom);
	display: flex;
}

.product {
	margin: auto;
	display: flex;
	width: 1000px;
}

.product {
	margin-left: calc((100% - 1500px) / 2 + 24px);
}

.product__image-container {
	flex-basis: 520px;
	flex-grow: 0;
	flex-shrink: 0;
}

.product .image-container {
	border-radius: 16px;
}

.product__info {
	padding-top: 32px;
	padding-left: 32px;
}

.product__title {
	display: block;
	font-family: AireRomanStd;
	font-size: 42px;
	letter-spacing: 0.04em;
}

.product__text {
	margin-top: 16px;
}

.products__pagination-container {
	margin: auto;
	margin-top: var(--pagination-margin-top);
	width: 1000px;
}

@media screen and (max-width: 1500px)
{
	.product {
		margin-left: calc((100% - 1024px) / 2 + 24px);
	}
}

@media screen and (max-width: 1024px)
{
	.product {
		margin-left: calc((100% - 768px) / 2 + 24px);
		width: calc(768px - 24px * 2);
	}

	.product__image-container {
		flex-basis: 400px;
		height: 240px;
	}

	.product__info {
		padding-top: 0;
	}

	.products__pagination-container {
		width: calc(768px - 24px * 2);
	}
} 

@media screen and (max-width: 768px)
{
	.product {
		margin-left: 24px;
		width: calc(100% - 24px * 2);
		flex-direction: column;
	}

	.product__image-container {
		width: 100%;
		flex-basis: 200px;
	}

	.product__info {
		padding-left: 0;
	}

	.product__title {
		margin-top: 24px;
		font-size: 28px;
	}

	.product__text {
		margin-top: 8px;
		font-size: 12px;
		line-height: 20px;
	}

	.products__pagination-container {
		width: calc(100% - 24px * 2);
	}
}

.reviews {
	margin-top: var(--section-margin-top);

	padding-bottom: var(--section-padding-bottom);
	border-bottom: var(--section-border-bottom);
}

.reviews .swiper-wrapper {
	padding-top: var(--section-title-margin-bottom);
	padding-bottom: var(--pagination-margin-top);
}

.reviews__wrapper {
	display: flex;
}

.reviews__wrapper:nth-child(odd) {
	justify-content: flex-end;
}

.reviews__wrapper:nth-child(even) {
	justify-content: flex-start;
}

.review {
	width: 600px;
	/*height: 320px;*/
	padding: 80px 40px;

	background: #FFFFFF;
	box-shadow: 0px 10px 35px rgba(8, 24, 81, 0.1);
	border-radius: 12px;
}

.swiper-slide:nth-child(odd) .review {
	margin-right: 32px;
}

@media screen and (max-width: 1500px)
{
	.review {
		width: calc(1024px / 2 - 32px / 2 - 24px * 2);
	}
}

@media screen and (max-width: 1024px)
{
	.review {
		width: calc(786px - 24px * 2);
	}

	.swiper-slide:nth-child(odd) .review {
		margin-right: 0;
	}

	.reviews__wrapper:nth-child(odd),
	.reviews__wrapper:nth-child(even) {
		justify-content: center;
	}

	.review:first-child {
		margin-right: 0;
	}
}

@media screen and (max-width: 768px)
{
	.review {
		width: calc(100% - 24px * 2);
		height: auto;
		padding: 24px;	
	}
}