.portfolio-container {
	margin-left: auto;
	margin-right: auto;

	max-width: 1460px;
	width: 100%;
	padding: 0 80px;
}

.portfolio-logo {
	position: absolute;
	top: -48px;
	left: 0;
	width: 320px;
}

header {
	z-index: 1;
}

.header__content {
	padding-top: 96px;
	padding-left: 184px;
}

.header__content p {
	margin-top: 16px;
	max-width: 450px;
}

@media screen and (max-width: 768px)
{
	.portfolio-container {
		padding: 0 24px;
	}

	.portfolio-logo {
		top: -40px;
		left: -40px;
		width: 260px;
	}

	.header__content {
		padding-top: 128px;
		padding-left: 0;
	}
}

.portfolio__tabs-navigation {
	margin-top: 64px;
}

.tabs-navigation {
	margin-left: auto;
	margin-right: auto;

	max-width: 1200px;
	border-bottom: solid 1px #E8E9E9;
}

.tabs-navigation__content {
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: space-between;

	max-width: 1000px;	
}

.tabs-navigation__item {
	position: relative;
	padding: 8px 12px;

	font-size: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	white-space: nowrap;

	border-bottom: solid 3px white;

	transition: all 150ms linear;
}

.tabs-navigation__item::after {
	content: attr(data-count);
    
    position: absolute;
	transform: translate(50%, -50%);

	font-size: 9px;
	color: var(--color-grey);

	transition: all 150ms linear;
}

.tabs-navigation__item--active {
	color: var(--color-red);
	border-bottom: solid 1px var(--color-red);
}

.tabs-navigation__item--active::after {
	color: var(--color-red);
}

.tabs-navigation__item:hover {
	color: var(--color-red);
	border-bottom: solid 1px var(--color-red);	
}

.tabs-navigation__item:hover:after {
	color: var(--color-red);
}

@media screen and (max-width: 768px)
{
	.tabs-navigation {
		overflow-x: scroll;
	}

	.tabs-navigation__content {
		max-width: calc(160px * 5);
	}

	.tabs-navigation__item {
		max-width: 160px;
		text-align: center;

		font-size: 14px;		
	}

	.tabs-navigation__item:not(:last-child) {
		margin-right: 16px;
	}

	.portfolio__content {
		margin-top: -32px;
		margin-left: 0;
		margin-right: 0;
	}
}

.portfolio {
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 64px;
	max-width: 1200px;
	overflow: hidden;
}

.portfolio__content {
	margin-left: -16px;
	margin-right: -16px;
	margin-top: -64px;

	justify-content: space-between;
	flex-wrap: wrap;

	/*opacity: 0;*/
	display: none;

	transform: translateX(-150%);
	transition: transform 350ms linear;
}

.portfolio__content--active {
	/*opacity: 1;*/
	transform: translateX(0);
}

.portfolio-item {
	margin-top: 64px;
	width: calc(100% / 3 - 36px);
	padding: 0 16px;
}

.portfolio-item__image-container {
	border-radius: 8px;
}

.portfolio-item__button {
	position: absolute;
	bottom: 0;
	left: calc(50% - 200px / 2);

	width: 200px;
	padding: 16px 0;
	background-color: white;

	text-align: center;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: 0.03em;

	transform: translateY(100%);
	transition: all 150ms linear;
}

.portfolio-item:hover .portfolio-item__button {
	transform: translateY(8px);
}

.portfolio-item__button:hover {
	color: white;
	background-color: var(--color-red);
}

.portfolio-item__primary-info {
	margin-top: 32px;
}

.portfolio-item__title {
	display: inline-block;

	line-height: 26px;
	font-size: 18px;
	letter-spacing: 0.03em;
	text-transform: uppercase;

	max-width: calc(100% - 80px);
}

.portfolio-item__price {
	display: inline-block;

	float: right;
	font-size: 18px;
	font-weight: 500;
}

.portfolio-item__paragraph {
	margin-top: 16px;
}

.portfolio-item__category {
	position: relative;
	top: 20px;	

	font-size: 14px;
	color: var(--color-red);
}

@media screen and (max-width: 1360px)
{
	.portfolio {
		max-width: 800px;
	}

	.portfolio-item {
		width: calc(370px);
	}
}

@media screen and (max-width: 768px)
{
	.portfolio-item {
		width: 100%;
	}

	.portfolio-item__button {
		font-size: 14px;
	}

	.portfolio-item__title {
		font-size: 16px;
	}

	.portfolio-item__price {
		font-size: 16px;
	}
}