.press-container {
	margin-left: auto;
	margin-right: auto;

	max-width: 1460px;
	width: 100%;
	padding: 0 80px;
}

.press-logo {
	position: absolute;
	top: -48px;
	left: 0;
	width: 320px;
}

header {
	z-index: 1;
}

.header__content {
	padding-top: 96px;
	padding-left: 184px;
}

.header__content p {
	margin-top: 16px;
	max-width: 450px;
}

@media screen and (max-width: 768px)
{
	.press-container {
		padding: 0 24px;
	}

	.press-logo {
		top: -40px;
		left: -40px;
		width: 260px;
	}

	.header__content {
		padding-top: 128px;
		padding-left: 0;
	}
}

.press__tabs-navigation {
	margin-top: 64px;
}

.tabs-navigation {
	margin-left: auto;
	margin-right: auto;

	max-width: 1000px;
	border-bottom: solid 1px #E8E9E9;
}

.tabs-navigation__content {
	margin-left: auto;
	margin-right: auto;

	display: flex;
	justify-content: space-between;

	max-width: 720px;	
}

.tabs-navigation__item {
	position: relative;
	padding: 8px 12px;

	font-size: 16px;
	letter-spacing: 0.05em;
	text-transform: uppercase;

	border-bottom: solid 3px white;
}

.tabs-navigation__item::after {
	content: attr(data-count);
    
    position: absolute;
	transform: translate(50%, -50%);

	font-size: 9px;
	color: var(--color-grey);
}

.tabs-navigation__item--active {
	color: var(--color-red);
	border-bottom: solid 1px var(--color-red);
}

.tabs-navigation__item--active::after {
	color: var(--color-red);
}

.press {
	margin-left: auto;
	margin-right: auto;
	
	padding-top: 64px;
	max-width: 1000px;
	overflow: hidden;
}

.press__content {
	margin-left: -16px;
	margin-right: -16px;

	justify-content: space-between;
	flex-wrap: wrap;

	/*opacity: 0;*/
	display: none;

	transform: translateX(-150%);
	transition: transform 300ms linear;
}

.press__content--active {
	/*opacity: 1;*/
	transform: translateX(0);
}

.press-item {
	position: relative;
	/*margin-top: 100px;*/

	width: 482px;
	min-width: 400px;
	padding: 0 16px;
	padding-bottom: 80px;
}

.press-item:not(:nth-child(1)):not(:nth-child(2)) {
	margin-top: 100px;
}

.press-item__image-container {
	border-radius: 8px;
	overflow: hidden;
}

.press-item__panel {
	position: absolute;
	left: calc(50% - (100% - 24px * 2 - 16px * 2) / 2);
	
	transform: translateY(-32px);

	width: calc(100% - 24px * 2 - 16px *  2);
	padding: 8px;

	text-align: center;
	background-color: white;
	border-radius: 8px;
}

.press-item__category {
	display: block;

	font-size: 12px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--color-red);
}

.press-item__title {
	margin-top: 24px;
	display: block;

	font-size: 18px;
	line-height: 26px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.press-item__date {
	margin-top: 16px;

	font-size: 12px;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	color: var(--color-grey);
}

@media screen and (max-width: 1160px)
{
	.press__content {
		margin-top: -64px;
	}

	.press-item {
		margin-top: 64px;
		width: calc(100% / 2 - 32px);
	}
}

@media screen and (max-width: 768px)
{
	.tabs-navigation {
		overflow-x: scroll;
	}

	.tabs-navigation__content {
		max-width: calc(148px * 5);
	}

	.tabs-navigation__item {
		max-width: 148px;
		text-align: center;

		font-size: 14px;		
	}

	.tabs-navigation__item:not(:last-child) {
		margin-right: 16px;
	}

	.press__content {
		margin-top: -32px;
		margin-left: 0;
		margin-right: 0;
	}

	.press-item {
		
		margin-top: 32px;
		min-width: 100%;
		padding-left: 0;
		padding-right: 0;
	}

	.press-item__panel {
		left: 0;
		width: 100%;
	}

	.press-item__category {
		font-size: 10px;
	}

	.press-item__title {
		font-size: 16px;
		line-height: 24px;
	}

	.press-item__date {
		font-size: 10px;
	}
}